* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 120px;
    cursor: pointer;
}

/*Navigation Bar*/

.navbar{
    width: 95%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: grey;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

/*Footer*/

.pagefoot {
    background: grey;
    width: auto;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagefoot ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.pagefoot ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.pagefoot-bottom ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}