* {
    margin: 0;
    padding: 0;
    font-family: "Sofia Sans Semi Condensed";
}

.generic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.generic-button button {
    padding: 5px 40px;
    border: 2px solid black;
    background-color: white;
    margin: 50px;
    font-size: 150%;
}

.generic-button button:hover {
    background-color: black;
    color: white;
}

.logo-navbar {
    width: 50%;
    cursor: pointer;
}

.logo {
    width: 95%;
    cursor: pointer;
}

.logo-title {
    font-family: "Zeyada";
    font-size: 95%;
    padding: 105%;
    height: 13%;
}

/*Footer*/

.pagefoot {
    background: rgb(0, 0, 0);
    width: auto;
    margin: auto;
    padding: 15px 0; 
}

.pagefoot ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.pagefoot ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.pagefoot-bottom ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/*Navigation Bar*/

.navbar {
    display: flex;
    width: 99%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
}

.navbar ul li a::after{
    content: '';
    height: 0.9px;
    width: 0;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li a:hover::after{
    width: 100%;
}

/*index.html*/
/*===========================================================================================*/

/*Homepage, top*/

.pagehome {
    display: flex;
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;    
} 

.pagehome a {
    padding: 0 5%;
    font-size: 500%;
}

.latest-release {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 5%;
}

/*Songs section*/

.pagesongs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
    margin: 0 10% 0 10%;
}

.pagesongs h2 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    position:relative;
}

.pagesongs h2::before{
    content: '' ;
    height: 3px;
    width: 45%;
    background: rgb(255, 0, 0);
    position: absolute;
    left: 0;
    bottom: 34px;
    transition: 0.3s;
}

.pagesongs h2::after{
    content: '' ;
    height: 3px;
    width: 45%;
    background: rgb(255, 0, 0);
    position: absolute;
    right: 0;
    bottom: 34px;
    transition: 0.3s;
}

.pagesongs ul {
    display: flex;
    justify-content: center;
}

.pagesongs ul li {
    list-style: none;
    padding: 10px;
    width: 33%;
}

.pagesongs ul li:hover {
    padding: 0 5px;
}

.pagesongs ul li a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 120%;
}

.pagesongs ul li a img {
    display: flex;
    width: 100%;
}

/*Goods section*/

.pagegoods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 110px 100px;
    color: white;
    background-image: url(Photos/BlackHomepagebg.jpeg);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.pagegoods button {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.pagegoods button:hover {
    background-color: white;
    color: black;
}

.pagegoods h2 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.pagegoods ul {
    display: flex;
    justify-content: center;
    padding: 0 10px 100px 10px;
}

.pagegoods ul li {
    list-style: none;
    padding: 10px;
    width: 33%;
}

.pagegoods ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.pagegoods ul li a img {
    display: flex;
    width: 100%;
}

/*profile.html*/
/*===========================================================================================*/

.profile-Aboutme {
    display: flex;
    margin: 0 15%;
    padding-top: 60px;
}

.profile-Aboutme h2 {
    display: flex;
    padding-bottom: 20px;
    position: relative;
}

.profile-Aboutme h2::after {
    content: '';
    background: black;
    position: absolute;  
    right: 0px;
    width: 100%;
    height: 2px;
}

.profile-Aboutme a {
    margin-bottom: 60px;
    font-size: x-large;
}

.profile-Aboutme a img{
    width: 100%;
    margin-bottom: 60px;
}

.profile-Media {
    margin: 0 15%;
}

.profile-Media iframe {
    aspect-ratio: 16/9;
    margin-bottom: 150px;
}

/*store.html*/
/*===========================================================================================*/

.product-image {
    display: flex;
    margin: 0 15%;
}

.product-image a h2 {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.product-image a img {
    margin-top: 61.5px;
    width: 100%;
}

.product-page {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    margin: 0 15%;
    gap: 2%;
}

.product-box {
    position: relative;
    z-index: 0;
}

.product-box:hover {
    border: 2px solid white;
    padding: 5px;
}

.product-box img {
    width: 100%;
    height: auto;
}

.addtocart {
    color: black;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: white;
    z-index: 90;
}

.goodbye {
    margin: 0 15%;
}

.goodbye a {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 50px;
}

.goodbye iframe {
    aspect-ratio: 16/9;
    margin-top: 50px;
}

/*cart*/

.cart {
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    min-height: 86.3vh;
    padding: 20px;
    background: White;
    box-shadow: -2px 0 4px grey;
    color: black;
    font: bold;
    font-weight: 500;
}

.cart::after {
    content: '';
    position: absolute;
    top: 200;
    left: 0;
    width: 100%;
}

.cart-menu {
    display: flex;
    border: 0.1px black solid
}

.cart-amount {
    display: flex;
    height: 50px;
    width: 75%;
}

.cart-close {
    display: flex;
    height: 5px;
    width: 5px;
}

/*music.html*/
/*===========================================================================================*/

.music-intro {
    padding: 61.5px 0;
    margin: 0 15%;
}

.music-intro iframe {
    aspect-ratio: 16/9;
    margin-bottom: 150px;
}


/*Music displays*/
.musicpage ul {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    margin: 0 15%;
    gap: 2%;
}



.musicpage ul li {
    list-style: none;
}

.musicpage ul li a{
    text-transform: uppercase;
    color: black;
}

.product-box {
    position: relative;
    z-index: 0;
}

.product-box:hover {
    border: 2px solid white;
    padding: 5px;
}

.product-box img {
    width: 100%;
    height: auto;
}

