* {
    margin: 0;
    padding: 0;
}

.logo-navbar {
    width: 50%;
    cursor: pointer;
}

.logo {
    width: 95%;
    cursor: pointer;
}

.logo-title {
    font-family: "Zeyada";
    font-size: 95%;
    padding: 105%;
}

/*Navigation Bar*/

.navbar{
    display: flex;
    margin: auto;
    width: 99%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: grey;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

/*Homepage, top*/

.pagehome {
    display: flex;
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;    
} 

.pagehome a {
    padding: 0 5%;
    font-size: 500%;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-button button {
    padding: 10px 40px;
    border: 2px solid black;
    margin: 50px;
    font-size: 200%;
}

.profile-button button:hover {
    background-color: black;
    color: white;
}

/*New and Media section*/

.pagenewsmedia {
    display: flex;
    margin: 0 150px;
    padding-bottom: 100px;
}

.pagenewsmedia h2 {
    width: 100%;
    height: 50px;
}

.pagenewsmedia ul li {
    list-style: none;
}

.pagenews {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 25px;
    /* width: auto; */
    /* height: 100%; */
    /* display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
    align-items: center;
    justify-content: center; */
}

.pagemedia {
   width: 50%;
   margin-left: 25px;
}

/* .pagemedia {
    display: flex;
    width: auto;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
    align-items: center;
    justify-content: center;
} */

/*Songs section*/

/* .pagesongs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;  
    margin: 150px;
}

.pagesongs h2 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.pagesongs ul li{
    list-style: none;
}

.pagesongs ul li img {
    object-fit: fill;
}

.pagesongs ul li {
    list-style: none;
    display: flex;
    flex-wrap: column;
    padding: 0 2px;
}

.pagesongs ul li img {
    width: 50%;
}  */

.pagesongs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 300px;
    margin: 150px;
}

.pagesongs h2 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.pagesongs ul {
    display: flex;
    justify-content: center;
}

.pagesongs ul li {
    list-style: none;
    padding: 2px;
    width: 33%;
}

.pagesongs ul li a {
    text-decoration: none;
}

.pagesongs ul li a img {
    display: flex;
    width: 100%;
}

/*Goods section*/

.pagegoods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 300px;
    margin: 150px;
}

.pagegoods h2 {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
}

.pagegoods ul {
    display: flex;
    justify-content: center;
}

.pagegoods ul li {
    list-style: none;
    padding: 2px;
    width: 24%;
}

.pagegoods ul li a img {
    display: flex;
    width: 100%;
}

/*Footer*/

.pagefoot {
    background: grey;
    width: auto;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagefoot ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.pagefoot ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.pagefoot-bottom ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}